## Ignore mac files
.DS_Store
DS_Store

## whitelist .gitkeep files
!.gitkeep

## No longer ignoring scripts
# scripts/*
# !scripts/Libraries
# scripts/Libraries/*
# !scripts/.gitkeep
# !scripts/ExampleModule.lua
# !scripts/Libraries/ExampleLibrary.lua
# !scripts/Libraries/ExampleDependency.lua
# !scripts/Libraries/ExampleDependencyError.lua


## ignore vscode settings
.vscode/*
